<div class="flex flex-col h-full">

    <div>
        <mat-toolbar>
            <div class="w-full max-w-7xl mx-auto flex flex-row justify-between items-center">
                <div class="flex flex-row">
                    <a class="p-2 text-3xl cursor-pointer" routerLink="/">GesFér</a>
                    <a
                        class="px-4 m-2 rounded text-lg cursor-pointer font-normal leading-[40px] hover:bg-black/5"
                        routerLink="funcionarios"
                        routerLinkActive="active-button"
                    >
                        Funcionários
                    </a>
                </div>
                <a
                    *ngIf="!authService.isLoggedIn"
                    class="flex items-center px-4 m-2 rounded text-lg cursor-pointer font-normal leading-[40px] hover:bg-black/5"
                    routerLink="login"
                    routerLinkActive="active-button"
                >
                    Entrar
                </a>
                <button mat-icon-button *ngIf="authService.isLoggedIn" [matMenuTriggerFor]="accountMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
    
    <div class="grow">
        <div class="relative w-full h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div>
        <mat-toolbar>
            <div class="w-full max-w-7xl mx-auto flex flex-row">
                <span class="text-sm">Santana Desenvolvimento © 2022</span>
            </div>
        </mat-toolbar>
    </div>

</div>

<mat-menu #accountMenu="matMenu" xPosition="before">
    <div class="p-2 flex flex-col">
        <div class="px-4 rounded cursor-pointer font-normal text-right leading-[40px] hover:bg-black/5">Minha Conta</div>
        <div class="px-4 rounded cursor-pointer font-normal text-right leading-[40px] hover:bg-black/5" *ngIf="authService.decodedToken?.Perfil === 'Administrador'">Gerenciar Usuários</div>
        <div class="px-4 rounded cursor-pointer font-normal text-right leading-[40px] hover:bg-black/5" (click)="logout()">Sair</div>
    </div>
</mat-menu>