<h1 id="tableLabel">Funcionario</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!funcionarios"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="funcionarios">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Matrícula</th>
            <th>Data do Vínculo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let funcionario of funcionarios">
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td>{{ funcionario.matricula }}</td>
            <td>{{ funcionario.dataVinculo }}</td>
        </tr>
    </tbody>
</table>
