<div class="h-[calc(100%-112px)] min-[600px]:h-[calc(100%-128px)] max-w-7xl p-4 mx-auto">
    <mat-card class="p-4">
        <mat-card-header>
            <mat-card-subtitle>Bem Vindo ao Sistema de Gestão de Férias</mat-card-subtitle>
            <mat-card-title>GesFer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="py-4 w-full lg:w-1/2">
                <p>
                    Este sistema permite gerenciar as férias dos servidores cadastrados aqui.
                    Para registrar um periodo de férias, é necessário que já exista pelo menos um funcionário ao qual associar.
                </p>
            </div>
            <div class="w-full sm:w-[50%] md:w-[35%] lg:w-[20%] flex flex-col">
                <div class="py-4 flex flex-col">
                    <p>Consulte, adicione ou edite funcionários, acessando à tabela de funcionários.</p>
                    <button mat-stroked-button routerLink="funcionarios">Funcionários</button>
                </div>
                <div class="py-4 flex flex-col">
                    <p>Consulte, adicione ou edite registros de férias, acessando à tabela de férias.</p>
                    <button mat-stroked-button routerLink="ferias">Férias</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>