<div class="absolute w-full h-full">

    <div class="max-w-7xl h-full mx-auto flex flex-col">

        <div class="py-2 px-4 xl:px-0 flex flex-row justify-between items-center gap-4">

            <div class="hidden md:inline">
                <button mat-raised-button>
                    <div class="flex flex-row justify-center items-center gap-1">
                        <mat-icon>filter_alt</mat-icon>
                        <span class="leading-normal">Filtrar</span>
                    </div>
                </button>
            </div>
            <div class="inline md:hidden">
                <button mat-icon-button>
                    <mat-icon>filter_alt</mat-icon>
                </button>
            </div>

           <div class="flex flex-row justify-end gap-4">

                <div class="hidden md:inline">
                    <button
                        *ngIf="selectedUsuarios.size === 1"
                        mat-raised-button
                        routerLink="{{getSelectedUsuario().id}}/permissoes"
                    >
                        <div class="flex flex-row justify-center items-center gap-1">
                            <mat-icon>vpn_key</mat-icon>
                            <span class="leading-normal">Permissões</span>
                        </div>
                    </button>
                </div>
                <div class="inline md:hidden">
                    <button mat-icon-button *ngIf="selectedUsuarios.size === 1" routerLink="{{getSelectedUsuario().id}}/exercicios">
                        <mat-icon>vpn_key</mat-icon>
                    </button>
                </div>

                <div
                    class="hidden md:inline"
                    *ngIf="this.authService.userInfo!.permissoes.includes('EditarFuncionario') && selectedUsuarios.size === 1"
                >
                    <button
                        mat-raised-button
                        routerLink="{{getSelectedUsuario().id}}/editar"
                    >
                        <div class="flex flex-row justify-center items-center gap-1">
                            <mat-icon fontIcon="edit"></mat-icon>
                            <span class="leading-normal">Editar</span>
                        </div>
                    </button>
                </div>
                <div 
                    class="inline md:hidden"
                    *ngIf="this.authService.userInfo!.permissoes.includes('EditarFuncionario') && selectedUsuarios.size === 1"
                >
                    <button mat-icon-button routerLink="{{getSelectedUsuario().id}}/editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <div
                    class="hidden md:inline"
                    *ngIf="this.authService.userInfo!.permissoes.includes('RemoverFuncionario')"
                >
                    <button
                        *ngIf="selectedUsuarios.size > 0"
                        mat-raised-button
                        color="warn"
                        (click)="openRemoveDialog()"
                    >
                        <div class="flex flex-row justify-center items-center gap-1">
                            <mat-icon fontIcon="delete"></mat-icon>
                            <span class="leading-normal">Remover</span>
                        </div>
                    </button>
                </div>
                <div
                    class="inline md:hidden"
                    *ngIf="this.authService.userInfo!.permissoes.includes('RemoverFuncionario')"
                >
                    <button
                        mat-icon-button
                        color="warn"
                        *ngIf="selectedUsuarios.size > 0"
                        (click)="openRemoveDialog()"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <div
                    class="hidden md:inline"
                    *ngIf="this.authService.userInfo!.permissoes.includes('CriarFuncionario')"
                >
                    <button mat-raised-button color="primary" routerLink="adicionar">
                        <div class="flex flex-row justify-center items-center gap-1">
                            <mat-icon fontIcon="add"></mat-icon>
                            <span class="leading-normal">Adicionar</span>
                        </div>
                    </button>
                </div>
                <div
                    class="inline md:hidden"
                    *ngIf="this.authService.userInfo!.permissoes.includes('CriarFuncionario')"
                >
                    <button mat-icon-button color="primary" routerLink="adicionar">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

           </div>
        </div>

        <mat-card class="m-1 xl:m-0 py-1 px-4" appearance="outlined">
            <div class="flex flex-row items-center gap-3">
                <mat-icon>person</mat-icon>
                <span class="text-base xl:text-xl font-medium">Usuários</span>
            </div>
        </mat-card>
    
        <div class="relative h-full overflow-auto flex flex-col justify-between">
    
            <div class="relative grow overflow-auto">

                <table
                    class="mat-elevation-z0 table"
                    mat-table
                    matSort
                    matSortActive="nome"
                    matSortDirection="asc"
                    matSortDisableClear
                    [dataSource]="dataSource"
                >
        
                    <ng-container matColumnDef="cpf">
                        <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
                        <mat-cell *matCellDef="let usuario">{{ usuario.cpf }}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let usuario">{{ usuario.email }}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                        <mat-cell *matCellDef="let usuario">{{ usuario.nome }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="min-h-0 xl:min-h-[56px]"></mat-header-row>

                    <mat-row
                        matRipple
                        [matRippleCentered]="true"
                        class="cursor-pointer hover:!bg-[#0000000a]"
                        *matRowDef="let row; columns: displayedColumns"
                        (click)="onUsuarioSelect(row)"
                        [class.row-is-clicked]="selectedUsuarios.has(row.id)"
                    >
                    </mat-row>
        
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="3">
                            <div class="flex flex-col justify-center">
                                <h1 class="text-center text-black/[0.5]" *ngIf="!(usuarioService.loading$ | async)">Nenhum usuário encontrado</h1>
                                <h1 class="text-center text-black/[0.5]" *ngIf="usuarioService.loading$ | async">Carregando...</h1>
                            </div>
                        </td>
                    </tr>
        
                </table>

            </div>
    
            <div>
                <mat-paginator
                    [length]="usuarioService.allPagesSize$ | async"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    [showFirstLastButtons]="true"
                >
                </mat-paginator>
            </div>
    
        </div>

    </div>

</div>

<div 
    class="absolute bg-black/20 z-[100] flex items-center justify-center w-full h-full"
    *ngIf="usuarioService.loading$ | async"
>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>