<div class="max-w-7xl mx-auto flex flex-col">
    
    <div class="p-4 max-w-min">
        <button
            mat-flat-button
            routerLink="/funcionarios"
        >
            <div class="flex flex-row items-center gap-5">
                <mat-icon fontIcon="arrow_back"></mat-icon>
                <span class="leading-normal">Funcionários</span>
            </div>
        </button>
    </div>

    <form
        class="p-4 flex flex-col gap-4"
        *ngIf="updateFuncionarioForm"
        [formGroup]="updateFuncionarioForm"
        (ngSubmit)="onSubmit()"
    >
    
        <div class="w-full md:w-1/2 lg:w-1/3 2xl:w-1/4 flex flex-col gap-2">

            <span class="text-lg">Nome*</span>
            <mat-form-field appearance="fill">
                <input matInput formControlName="nome">
                <mat-error *ngIf="nome?.invalid">Campo obrigatório</mat-error>
            </mat-form-field>
            
            <span class="text-lg">CPF*</span>
            <mat-form-field appearance="fill">
                <input matInput [textMask]="{mask: cpfMask}" formControlName="cpf">
                <mat-error *ngIf="cpf.errors?.['required']">Campo obrigatório</mat-error>
                <mat-error *ngIf="matricula.errors?.['minlength']">Limite mínimo de caracteres não atendido</mat-error>
                <mat-error *ngIf="matricula.errors?.['maxlength']">Limite máximo de caracteres não atendido</mat-error>
            </mat-form-field>
    
            <span class="text-lg">Matrícula*</span>
            <mat-form-field appearance="fill">
                <input matInput formControlName="matricula">
                <mat-error *ngIf="matricula.errors?.['required']">Campo obrigatório</mat-error>
                <mat-error *ngIf="matricula.errors?.['minlength']">Limite mínimo de caracteres não atendido</mat-error>
                <mat-error *ngIf="matricula.errors?.['maxlength']">Limite máximo de caracteres não atendido</mat-error>
            </mat-form-field>

        </div>

        <div class="flex flex-row justify-start">
            <button mat-stroked-button type="submit" [disabled]="!updateFuncionarioForm.valid">Editar</button>
        </div>

    </form>
</div>