.matricula-input-container {
    display: flex;
}
  
.matricula-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
}

.matricula-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
}

:host.floating .matricula-input-spacer {
    opacity: 1;
}