<div 
    role="group"
    class="matricula-input-container"
    [formGroup]="parts"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
>
    <input 
        class="matricula-input-element"
        formControlName="idDigitos"
        size="8"
        maxLength="8"
        aria-label="Numero referente a Identificacao Unica do Funcionario"
        (input)="_handleInput(parts.controls.idDigitos, vinculoDigitos)"
        #idDigitos
    >
    <span class="matricula-input-spacer">/</span>
    <input 
        class="matricula-input-element"
        formControlName="vinculoDigitos"
        maxLength="2"
        size="2"
        aria-label="Numero referente ao Vinculo do Funcionario"
        (input)="_handleInput(parts.controls.vinculoDigitos)"
        (keyup.backspace)="autoFocusPrev(parts.controls.vinculoDigitos, idDigitos)"
        #vinculoDigitos
    >
</div>