<div 
    role="group"
    class="cpf-input-container"
    [formGroup]="parts"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
>
    <input 
        class="cpf-input-element"
        formControlName="primeirosTresDigitos"
        size="3"
        maxLength="3"
        aria-label="Primeiros Tres Digitos do CPF"
        (input)="_handleInput(parts.controls.primeirosTresDigitos, segundosTresDigitos)"
        #primeirosTresDigitos
    >
    <span class="cpf-input-spacer">.</span>
    <input 
        class="cpf-input-element"
        formControlName="segundosTresDigitos"
        maxLength="3"
        size="3"
        aria-label="Segundos Tres Digitos do CPF"
        (input)="_handleInput(parts.controls.segundosTresDigitos, terceirosTresDigitos)"
        (keyup.backspace)="autoFocusPrev(parts.controls.segundosTresDigitos, primeirosTresDigitos)"
        #segundosTresDigitos
    >
    <span class="cpf-input-spacer">.</span>
    <input 
        class="cpf-input-element"
        formControlName="terceirosTresDigitos"
        maxLength="3"
        size="3"
        aria-label="Terceiros Tres Digitos do CPF"
        (input)="_handleInput(parts.controls.terceirosTresDigitos, ultimosDoisDigitos)"
        (keyup.backspace)="autoFocusPrev(parts.controls.terceirosTresDigitos, segundosTresDigitos)"
        #terceirosTresDigitos
    >
    <span class="cpf-input-spacer">&ndash;</span>
    <input 
        class="cpf-input-element"
        formControlName="ultimosDoisDigitos"
        maxLength="2"
        size="2"
        aria-label="Dois Ultimos Digitos do CPF"
        (input)="_handleInput(parts.controls.ultimosDoisDigitos)"
        (keyup.backspace)="autoFocusPrev(parts.controls.ultimosDoisDigitos, terceirosTresDigitos)"
        #ultimosDoisDigitos
    >
</div>