<div class="flex flex-col gap-3">
    <div class="flex flex-row justify-start items-center gap-3">
        <mat-icon fontIcon="{{message.type.icon}}" color="{{message.type.color}}"></mat-icon>
        <span>{{ message.title }}</span>
    </div>
    <span *ngIf="message.subtitle"> {{ message.subtitle }} </span>
    <ul *ngIf="message.errors" class="pl-2 list-disc list-inside">
        <li *ngFor="let error of message.errors" class="underline decoration-[#f44336]">
            {{ error }}
        </li>
    </ul>
</div>