<div class="absolute w-full h-full">
    
    <div class="max-w-7xl h-full mx-auto flex flex-col">
    
        <div class="p-4 max-w-min">
            <button
                mat-raised-button
                routerLink="/usuarios"
                [disabled]="(requestService.loading$ | async)"
            >
                <div class="flex flex-row items-center gap-5">
                    <mat-icon fontIcon="arrow_back"></mat-icon>
                    <span class="leading-normal">Usuários</span>
                </div>
            </button>
        </div>

        <form
            class="h-full p-4 flex flex-col gap-4 overflow-auto"
            *ngIf="form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
        >

            <mat-card appearance="outlined" class="p-4" *ngIf="this.usuario?.cpf === this.authService.userInfo?.cpf">
                <div class="flex flex-row items-center gap-2">
                    <mat-icon class="basis-[15%]">info</mat-icon>
                    <span class="basis-[85%]">Você está editando seu usuário. Após a confirmação da edição, será necessário fazer login novamente.</span>
                </div>
            </mat-card>

            <div class="w-full md:w-1/2 lg:w-1/3 2xl:w-1/4 flex flex-col gap-2">
    
                <ng-container *ngFor="let input of initialFilterConfig; let i = index">
                    <ng-container [ngSwitch]="input.view.type">
                        <app-input-textspan
                            *ngSwitchCase="'textspan'"
                            [input]="input"
                            [form]="form"
                        >
                        </app-input-textspan>
                        <app-input-select
                            *ngSwitchCase="'select'"
                            [input]="input"
                            [form]="form"
                        >
                        </app-input-select>
                    </ng-container>
                </ng-container>
    
            </div>
    
            <div class="flex flex-row justify-start">
                <button mat-raised-button type="submit" [disabled]="!form.valid || (requestService.loading$ | async)">
                    <div class="flex flex-row items-center gap-2" [ngSwitch]="requestService.loading$ | async">
                        <mat-spinner diameter="25" *ngSwitchCase="true"></mat-spinner>
                        <span *ngSwitchCase="false">{{ isAddForm ? 'Adicionar' : 'Editar' }}</span>
                    </div>
                </button>
            </div>
    
        </form>

    </div>

</div>

<div 
    class="absolute bg-black/20 z-[100] flex items-center justify-center w-full h-full"
    *ngIf="requestService.loading$ | async"
>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>